.container {
    display: flex;
    justify-content: center;
}

.table {

    width: 90%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.thead {
    background-color: rgb(78, 146, 78);
}

.table td:first-child {
    padding-left: 60px;
}


.table th:first-child {
    padding-left: 60px;
}



.donotShow_row {
    display: none;
}

.badge {
    background-color: burlywood;
    border: none;
    font-size: 13px;
    margin-left: 5px;
}